<mat-card>
  <img class="user-logo" src="assets\male-user.png" mat-card-sm-image>
  <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto officiis suscipit, ipsa labore, reiciendis dolorum consequatur vel illum accusamus delectus laboriosam illo libero magnam provident necessitatibus neque ratione. Ipsa omnis perferendis consectetur iste 
      </p>
    </mat-card-content>
  <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>